body { margin:0px 0px; padding:0px; } 

* { 
	box-sizing: Border-box;
	-webkit-backface-visibility: hidden;
  	-webkit-perspective: 1000px; 
	-ms-overflow-style: hidden;
}  

#container{
	background-color:white;
	position:absolute;
	overflow:hidden;
	border: 1px solid black;
} 

.sprite {
	position:absolute;
	background-repeat:no-repeat;
}

.fpo {
	opacity: .5;
	z-index: 2;
}

#bg_2x {
	left:0px;
	top:0px;
	width:728px;
	height:90px;
	background-image:url(../img/bg_2x.jpg);
	background-size:728px 90px;
}

#logo_2x {
	left:317px;
	top:5px;
	width:95px;
	height:82px;
	background-image:url(../img/logo_2x.png);
	background-size:95px 82px;
}

#c1_2x {
	left:153px;
	top:6px;
	width:422px;
	height:81px;
	background-image:url(../img/c1_2x.png);
	background-size:422px 81px;
}

#p1_2x {
	left:24px;
	top:107px;
	width:261px;
	height:121px;
	background-image:url(../img/p1_2x.png);
	background-size:261px 121px;
}

#c2_2x {
	left:125px;
	top:26px;
	width:275px;
	height:40px;
	background-image:url(../img/c2_2x.png);
	background-size:275px 40px;
}

#og_2x {
	left:414px;
	top:0px;
	width:192px;
	height:90px;
	background-image:url(../img/og_2x.png);
	background-size:192px 90px;
}

#c3_2x {
	left:51px;
	top:24px;
	width:390px;
	height:44px;
	background-image:url(../img/c3_2x.png);
	background-size:390px 44px;
}

#c4_2x {
	left:108px;
	top:29px;
	width:163px;
	height:83px;
	background-image:url(../img/c4_2x.png);
	background-size:163px 83px;

}

#ched_2x {
	left:487px;
	top:-2px;
	width:154px;
	height:73px;
	background-image:url(../img/ched_2x.png);
	background-size:154px 73px;
}

#new_2x {
	left:54px;
	top:5px;
	width:64px;
	height:50px;
	background-image:url(../img/new_2x.png);
	background-size:64px 50px;
}

#ched_fpo_2x {
	left:118px;
	top:108px;
	width:182px;
	height:117px;
	background-image:url(../img/ched_fpo_2x.png);
	background-size:182px 117px;
}

#og2_2x {
	left:0px;
	top:107px;
	width:169px;
	height:112px;
	background-image:url(../img/og2_2x.png);
	background-size:169px 112px;
}

#c5_2x {
	left:13px;
	top:6px;
	width:416px;
	height:81px;
	background-image:url(../img/c5_2x.png);
	background-size:416px 81px;
}

#c6_2x {
	left:324px;
	top:67px;
	width:58px;
	height:14px;
	background-image:url(../img/c6_2x.png);
	background-size:58px 14px;
}

#c7_2x {
	left:423px;
	top:61px;
	width:132px;
	height:21px;
	background-image:url(../img/c7_2x.png);
	background-size:132px 21px;
}

#cta_2x {
	left:554px;
	top:33px;
	width:91px;
	height:24px;
	background-image:url(../img/cta_2x.png);
	background-size:91px 24px;
}

#legal_2x {
	left:5px;
	top:83px;
	width:281px;
	height:6px;
	background-image:url(../img/legal_2x.png);
	background-size:281px 6px;
}

#mini-logo_2x {
	left:164px;
	top:82px;
	width:57px;
	height:49px;
	background-image:url(../img/mini-logo_2x.png);
	background-size:57px 49px;
}

#mini_logo_2x {
	left:653px;
	top:19px;
	width:68px;
	height:59px;
	background-image:url(../img/mini_logo_2x.png);
	background-size:68px 59px;
}

#frame_fpo_2x {
	left:0px;
	top:0px;
	width:728px;
	height:90px;
	background-image:url(../img/frame_fpo_2x.png);
	background-size:728px 90px;
}