body { margin:0px 0px; padding:0px; } 

* { 
	box-sizing: Border-box;
	-webkit-backface-visibility: hidden;
  	-webkit-perspective: 1000px; 
	-ms-overflow-style: hidden;
}  

#container{
	background-color:white;
	position:absolute;
	overflow:hidden;
	border: 1px solid black;
} 

.sprite {
	position:absolute;
	background-repeat:no-repeat;
}

.fpo {
	opacity: .5;
}

#bg_2x {
	left:0px;
	top:0px;
	width:300px;
	height:250px;
	background-image:url(../img/bg_2x.jpg);
	background-size:300px 250px;
}

#logo_2x {
	left:48px;
	top:193px;
	width:206px;
	height:178px;
	background-image:url(../img/logo_2x.png);
	background-size:206px 178px;
}

#c1_2x {
	left:29px;
	top:154px;
	width:243px;
	height:175px;
	background-image:url(../img/c1_2x.png);
	background-size:243px 175px;
}

#p1_2x {
	left:24px;
	top:107px;
	width:261px;
	height:121px;
	background-image:url(../img/p1_2x.png);
	background-size:261px 121px;
}

#c2_2x {
	left:63px;
	top:94px;
	width:177px;
	height:135px;
	background-image:url(../img/c2_2x.png);
	background-size:177px 135px;
}

#og_2x {
	left:-38px;
	top:249px;
	width:371px;
	height:173px;
	background-image:url(../img/og_2x.png);
	background-size:371px 173px;
}

#c3_2x {
	left:52px;
	top:49px;
	width:197px;
	height:183px;
	background-image:url(../img/c3_2x.png);
	background-size:197px 183px;
}

#c4_2x {
	left:52px;
	top:126px;
	width:197px;
	height:106px;
	background-image:url(../img/c4_2x.png);
	background-size:197px 106px;
	z-index: 2;
}

#ched_2x {
	left:-45px;
	top:223px;
	width:418px;
	height:198px;
	background-image:url(../img/ched_2x.png);
	background-size:418px 198px;
	z-index: 1;
}

#new_2x {
	left:54px;
	top:5px;
	width:64px;
	height:50px;
	background-image:url(../img/new_2x.png);
	background-size:64px 50px;
}

#ched_fpo_2x {
	left:118px;
	top:108px;
	width:182px;
	height:117px;
	background-image:url(../img/ched_fpo_2x.png);
	background-size:182px 117px;
}

#og2_2x {
	left:0px;
	top:284px;
	width:186px;
	height:137px;
	background-image:url(../img/og2_2x.png);
	background-size:186px 137px;
}

#c5_2x {
	left:29px;
	top:69px;
	width:243px;
	height:175px;
	background-image:url(../img/c5_2x.png);
	background-size:243px 175px;
}

#c6_2x {
	left:31px;
	top:437px;
	width:82px;
	height:18px;
	background-image:url(../img/c6_2x.png);
	background-size:82px 18px;
	z-index: 2;
}

#c7_2x {
	left:158px;
	top:396px;
	width:112px;
	height:68px;
	background-image:url(../img/c7_2x.png);
	background-size:112px 68px;
	z-index: 2;
}

#cta_2x {
	left:12px;
	top:521px;
	width:134px;
	height:35px;
	background-image:url(../img/cta_2x.png);
	background-size:134px 35px;
}

#legal_2x {
	left:11px;
	top:589px;
	width:281px;
	height:6px;
	background-image:url(../img/legal_2x.png);
	background-size:281px 6px;
}

#mini-logo_2x {
	left:164px;
	top:82px;
	width:57px;
	height:49px;
	background-image:url(../img/mini-logo_2x.png);
	background-size:57px 49px;
}

#mini_logo_2x {
	left:192px;
	top:495px;
	width:97px;
	height:84px;
	background-image:url(../img/mini_logo_2x.png);
	background-size:97px 84px;
}

#f1_fpo_2x {
	left:0px;
	top:0px;
	width:300px;
	height:600px;
	background-image:url(../img/f1_fpo_2x.png);
	background-size:300px 600px;
}

#bg_bottom {
	left:0px;
	bottom:0px;
	width:300px;
	height:282px;
	background-image:url(../img/bg_bottom.jpg);
}

#bg_top {
	left:0px;
	top:0px;
	width:600px;
	height:748px;
	background-image:url(../img/bg_top.jpg);
}

#f4_fpo_2x {
	left:0px;
	top:0px;
	width:300px;
	height:600px;
	background-image:url(../img/f4_fpo_2x.png);
	background-size:300px 600px;
}