body { margin:0px 0px; padding:0px; } 

* { 
	box-sizing: Border-box;
	-webkit-backface-visibility: hidden;
  	-webkit-perspective: 1000px; 
	-ms-overflow-style: hidden;
}  

#container{
	background-color:white;
	position:absolute;
	overflow:hidden;
	border: 1px solid black;
} 

.sprite {
	position:absolute;
	background-repeat:no-repeat;
}

.fpo {
	opacity: .5;
}

#bg_2x {
	left:0px;
	top:0px;
	width:300px;
	height:250px;
	background-image:url(../img/bg_2x.jpg);
	background-size:300px 250px;
}

#logo_2x {
	left:11px;
	top:239px;
	width:138px;
	height:119px;
	background-image:url(../img/logo_2x.png);
	background-size:138px 119px;
}

#c1_2x {
	left:7px;
	top:117px;
	width:145px;
	height:275px;
	background-image:url(../img/c1_2x.png);
	background-size:145px 275px;
}

#p1_2x {
	left:24px;
	top:107px;
	width:261px;
	height:121px;
	background-image:url(../img/p1_2x.png);
	background-size:261px 121px;
}

#c2_2x {
	left:17px;
	top:116px;
	width:130px;
	height:104px;
	background-image:url(../img/c2_2x.png);
	background-size:130px 104px;
}

#og_2x {
	left:-21px;
	top:248px;
	width:230px;
	height:108px;
	background-image:url(../img/og_2x.png);
	background-size:230px 108px;
}

#c3_2x {
	left:13px;
	top:101px;
	width:138px;
	height:132px;
	background-image:url(../img/c3_2x.png);
	background-size:138px 132px;
}

#c4_2x {
	left:52px;
	top:126px;
	width:197px;
	height:106px;
	background-image:url(../img/c4_2x.png);
	background-size:197px 106px;
	z-index: 2;
}

#ched_2x {
	left:-61px;
	top:238px;
	width:274px;
	height:130px;
	background-image:url(../img/ched_2x.png);
	background-size:274px 130px;
}

#new_2x {
	left:54px;
	top:5px;
	width:64px;
	height:50px;
	background-image:url(../img/new_2x.png);
	background-size:64px 50px;
}

#ched_fpo_2x {
	left:118px;
	top:108px;
	width:182px;
	height:117px;
	background-image:url(../img/ched_fpo_2x.png);
	background-size:182px 117px;
}

#og2_2x {
	left:0px;
	top:349px;
	width:97px;
	height:87px;
	background-image:url(../img/og2_2x.png);
	background-size:97px 87px;
}

#c5_2x {
	left:6px;
	top:42px;
	width:147px;
	height:275px;
	background-image:url(../img/c5_2x.png);
	background-size:147px 275px;
}

#c6_2x {
	left:7px;
	top:419px;
	width:50px;
	height:12px;
	background-image:url(../img/c6_2x.png);
	background-size:50px 12px;
}

#c7_2x {
	left:87px;
	top:392px;
	width:65px;
	height:43px;
	background-image:url(../img/c7_2x.png);
	background-size:65px 43px;
}

#cta_2x {
	left:22px;
	top:446px;
	width:115px;
	height:30px;
	background-image:url(../img/cta_2x.png);
	background-size:115px 30px;
}

#legal_2x {
	left:24px;
	top:575px;
	width:109px;
	height:21px;
	background-image:url(../img/legal_2x.png);
	background-size:109px 21px;
}

#mini-logo_2x {
	left:164px;
	top:82px;
	width:57px;
	height:49px;
	background-image:url(../img/mini-logo_2x.png);
	background-size:57px 49px;
}

#mini_logo_2x {
	left:43px;
	top:489px;
	width:73px;
	height:63px;
	background-image:url(../img/mini_logo_2x.png);
	background-size:73px 63px;
}

#f1_fpo_2x {
	left:0px;
	top:0px;
	width:300px;
	height:600px;
	background-image:url(../img/f1_fpo_2x.png);
	background-size:300px 600px;
}

#bg_bottom {
	left:0px;
	bottom:0px;
	width:300px;
	height:282px;
	background-image:url(../img/bg_bottom.jpg);
}

#bg_top {
	left:0px;
	top:0px;
	width:600px;
	height:748px;
	background-image:url(../img/bg_top.jpg);
}

#f4_fpo_2x {
	left:0px;
	top:0px;
	width:160px;
	height:600px;
	background-image:url(../img/f4_fpo_2x.png);
	background-size:160px 600px;
}

#bg_bottom_2x {
	left:0px;
	bottom:0px;
	width:160px;
	height:278px;
	background-image:url(../img/bg_bottom_2x.jpg);
	background-size:160px 278px;
}

#bg_top_2x {
	left:0px;
	top:0px;
	width:160px;
	height:396px;
	background-image:url(../img/bg_top_2x.jpg);
	background-size:160px 396px;
}