body { margin:0px 0px; padding:0px; } 

* { 
	box-sizing: Border-box;
	-webkit-backface-visibility: hidden;
  	-webkit-perspective: 1000px; 
	-ms-overflow-style: hidden;
}  

#container{
	background-color:white;
	position:absolute;
	overflow:hidden;
	border: 1px solid black;
} 

.sprite {
	position:absolute;
	background-repeat:no-repeat;
}

#bg_2x {
	left:0px;
	top:0px;
	width:300px;
	height:250px;
	background-image:url(../img/bg_2x.jpg);
	background-size:300px 250px;
}

#logo_2x {
	left:52px;
	top:41px;
	width:195px;
	height:168px;
	background-image:url(../img/logo_2x.png);
	background-size:195px 168px;
}

#c1_2x {
	left:11px;
	top:17px;
	width:272px;
	height:87px;
	background-image:url(../img/c1_2x.png);
	background-size:272px 87px;
}

#p1_2x {
	left:24px;
	top:107px;
	width:261px;
	height:121px;
	background-image:url(../img/p1_2x.png);
	background-size:261px 121px;
}

#c2_2x {
	left:11px;
	top:30px;
	width:275px;
	height:41px;
	background-image:url(../img/c2_2x.png);
	background-size:275px 41px;
}

#og_2x {
	left:0px;
	top:87px;
	width:296px;
	height:139px;
	background-image:url(../img/og_2x.png);
	background-size:296px 139px;
}

#c3_2x {
	left:12px;
	top:35px;
	width:38px;
	height:28px;
	background-image:url(../img/c3_2x.png);
	background-size:38px 28px;
}

#c4_2x {
	left:108px;
	top:29px;
	width:163px;
	height:83px;
	background-image:url(../img/c4_2x.png);
	background-size:163px 83px;
}

#ched_2x {
	left:0px;
	top:81px;
	width:296px;
	height:140px;
	background-image:url(../img/ched_2x.png);
	background-size:296px 140px;
}

#new_2x {
	left:54px;
	top:5px;
	width:64px;
	height:50px;
	background-image:url(../img/new_2x.png);
	background-size:64px 50px;
}