body { margin:0px 0px; padding:0px; } 

* { 
	box-sizing: Border-box;
	-webkit-backface-visibility: hidden;
  	-webkit-perspective: 1000px; 
	-ms-overflow-style: hidden;

}  
/* #container:hover {
	cursor:pointer;
   } */

#container{
	background-color:white;
	position:absolute;
	overflow:hidden;
	border: 1px solid black;
	cursor:pointer !important;
} 

.sprite {
	position:absolute;
	background-repeat:no-repeat;
}

#bg_2x {
	left:0px;
	top:0px;
	width:300px;
	height:250px;
	background-image:url(../img/bg_2x.jpg);
	background-size:300px 250px;
}

#logo_2x {
	left:52px;
	top:41px;
	width:195px;
	height:168px;
	background-image:url(../img/logo_2x.png);
	background-size:195px 168px;
}

#c1_2x {
	left:11px;
	top:17px;
	width:274px;
	height:211px;
	background-image:url(../img/c1_2x.png);
	background-size:274px 211px;
}

#c2_2x {
	left:20px;
	top:30px;
	width:258px;
	height:41px;
	background-image:url(../img/c2_2x.png);
	background-size:258px 41px;
}

#og_2x {
	left:0px;
	top:87px;
	width:296px;
	height:139px;
	background-image:url(../img/og_2x.png);
	background-size:296px 139px;
}

#c3_2x {
	left:12px;
	top:5px;
	width:260px;
	height:108px;
	background-image:url(../img/c3_2x.png);
	background-size:260px 108px;
	z-index: 2;
}

#ched_2x {
	left:0px;
	top:81px;
	width:296px;
	height:140px;
	background-image:url(../img/ched_2x.png);
	background-size:296px 140px;
	z-index: 1;
}

#og2_2x {
	left:0px;
	top:107px;
	width:169px;
	height:112px;
	background-image:url(../img/og2_2x.png);
	background-size:169px 112px;
}

#c5_2x {
	left:10px;
	top:25px;
	width:282px;
	height:53px;
	background-image:url(../img/c5_2x.png);
	background-size:282px 53px;
}

#c6_2x {
	left:8px;
	top:204px;
	width:67px;
	height:18px;
	background-image:url(../img/c6_2x.png);
	background-size:67px 18px;
}

#c7_2x {
	left:136px;
	top:189px;
	width:156px;
	height:34px;
	background-image:url(../img/c7_2x.png);
	background-size:156px 34px;
	z-index: 1;
}

#cta_2x {
	left:79px;
	top:98px;
	width:78px;
	height:21px;
	background-image:url(../img/cta_2x.png);
	background-size:78px 21px;
}

#legal_2x {
	left:10px;
	top:238px;
	width:281px;
	height:6px;
	background-image:url(../img/legal_2x.png);
	background-size:281px 6px;
}

#mini_logo_2x {
	left:164px;
	top:82px;
	width:57px;
	height:49px;
	background-image:url(../img/mini_logo_2x.png);
	background-size:57px 49px;
}